<section>
  <h1>About me</h1>
  <p>
	<strong>Simone Busoli</strong>
	<br/>
	creative software engineer
  </p>
<!-- AddThis Follow BEGIN -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_twitter_follow" addthis:userid="simonebu"></a>
<a class="addthis_button_linkedin_follow" addthis:userid="simonebusoli"></a>
<a class="addthis_button_rss_follow" addthis:userid="http://feeds.feedburner.com/simoneb"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5143bd0a20061164"></script>
<!-- AddThis Follow END -->

</section>
